AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^$ public/     [L]
    RewriteRule ^(.*)$ app.php?_url=/$1 [QSA,L]
</IfModule>